<div class="text-center my-4">
  <img src="assets/logo_dark.png" alt="Logo">
  </div>
  <div class="container d-flex justify-content-center">
  <div class="folder bg-white rounded-lg shadow-sm w-50">
  <div class="folder-heading border-bottom rounded-top text-center p-3">
  <h3 class=" d-inline align-middle">
  Login to Docquity OEA<sup>2</sup>
  </h3>
  </div>
  <form>
  <div class="form">
  <div class="email m-3">
  <input  autocomplete="off"  (keypress)="usernamekeyup($event)"  [(ngModel)]="username" type="text" class="form-control" id="email" placeholder="Enter Username" name="email">
  <small *ngIf="usernameerror==true" class="text-danger">Please enter your user name</small>
  </div>
  <div class="pass m-3">
  <input  autocomplete="off" (keypress)="passwordkeyup($event)"   [(ngModel)]="password" type="password" class="form-control" placeholder="Enter password" name="pswd">
  <small *ngIf="passworderror==true" class="text-danger">Please enter your user password</small>
  </div>
  <!-- <div class="form-group m-3">
    <select class="form-control" id="sel1" (change)="onChange($event.target.value)" class="custom-select my-1 mr-sm-2">
      <option disabled>Select Event</option>
    <option *ngFor="let event of eventlistarr" value={{event.event_name}} >{{event?.event_name}}</option>
    </select>
    <small *ngIf="eventerror==true" class="text-danger">Please enter your event</small>
  </div> -->

  <div class="form-group m-3">
    <select class="form-control" id="sel1" (change)="onChange($event.target.value)" class="custom-select my-1 mr-sm-2">
      <option selected disabled>Select Event</option>
    <option *ngFor="let event of eventlistarr" value={{event.event_name}} > {{event?.event_name}}</option>
    </select>
    <small *ngIf="eventerror==true" class="text-danger">Please enter your event</small>
  </div>
  
  <div class="login-button m-3">
  <button (click)=login()  type="button" class="btn btn-success btn-block" >Login</button> 
  <small *ngIf="loginerror==true" class="text-danger">Please enter your correct username , password and select event</small>
  </div>
  </div>
  </form>
  </div>
  </div>