<div class="text-center my-4">
<img src="assets/logo_dark.png" alt="logo">
</div>
<div class="container bg-white pt-5 pb-5 shadow-sm rounded-lg">
  <div class="row">
    <div class="col-12">
      <div class="buttons d-flex justify-content-end mb-3 mx-5">
    <button class="btn btn-info mr-2" (click)="syncdb()" >Sync to Server <img  class="float-right cursor-pointer pl-1" height="30px" width="30px" src="assets/sync.png" alt="sync" title="sync">
    </button>
    <button class="btn btn-info mr-2" (click)="handleExport()" >Download Userdata<img  class="float-right cursor-pointer pl-1 pr-1" height="30px" width="30px" src="assets/down.png" alt="sync" title="sync">
    </button>
    <button class="btn btn-info mr-2" (click)="downloadsdurvey()" >Download survey<img  class="float-right cursor-pointer pl-1 pr-1" height="30px" width="30px" src="assets/down.png" alt="sync" title="sync">
    </button>
    <!-- <button class="btn btn-info" (click)="downloadsurvey()" >Download Survey data<img  class="float-right cursor-pointer pr-1" height="30px" width="30px" src="assets/down.png" alt="sync" title="sync">
    </button> -->
    </div>
  </div>
  </div>
  
  <!-- <button class="btn btn-primary float-right cursor-pointer" disabled>
    <span class="sync"><img src="assets/sync.png" height="15px" width="15px" alt="sync"></span>
    SYNC
    </button> -->

    <a id="downloadAnchorElem" style="display:none"></a>

  <div class="form border shadow-sm rounded-lg mx-5 pb-4">
    <div class="text my-3 pt-2">
      <h2 class="text-center my-3"> {{eventname}} Attendance</h2>
    </div>
    <div class="input-form d-flex justify-content-center">
        <input (keypress)="numberInput($event)" autocomplete="off" (keyup)="InputvalidateNo($event)"  [(ngModel)]="mnumber" type="text" class="form-control w-75" placeholder="Mobile number">
      </div>
  
      <div class="row mt-5">
        <div class="col-6 d-flex justify-content-center">
          <button (click)="punchin()" type="button" class="btn btn-success btn-lg" [disabled]="showColor==false"  [ngClass]="{ 'cursor-notallowed': showColor==false,  'cursor-pointer': showColor==true}">Punch IN</button>
        </div>
      <div class="col-6 d-flex justify-content-center">
        <button (click)="punchout()" type="button" class="btn btn-success btn-lg ml-2" [disabled]="showColor==false"  [ngClass]="{ 'cursor-notallowed': showColor==false,  'cursor-pointer': showColor==true}">Punch OUT</button>
      </div>
      </div>
    </div>

      <div class="d-flex justify-content-center" *ngIf="showsuccess==true">
      <div class="alert alert-success mt-5 w-50 align-middle"><strong>Congratulation Dr. {{fname}} </strong> you are punched in.</div>
      </div>

      <div class="d-flex justify-content-center" *ngIf="punchoutnotfound==true">
        <div class="alert alert-danger mt-5 w-50 align-middle"><strong>Oops! </strong> Please punch in first.</div>
      </div>


      <div class="d-flex justify-content-center" *ngIf="succespunchout==true">
        <div class="alert alert-success mt-5 w-50 align-middle"><strong>Congratulation Dr. {{fname}}</strong> you are punched out.</div>
      </div>

     

     <!-- <button (click)=showtodo()>show</button> -->


     <button type="button" id="modal" data-toggle="modal" data-target="#exampleModal" style="display: none;" class="btn btn-primary" >
      Launch demo modal
    </button>





<!-- Modal -->
     <div class="container mt-4" *ngIf="openFormdiv==true">
        <div class="mx-4 bg-white rounded-lg shadow-sm p-4 border">

          <div class="text my-3">
            <h2 class="text-center my-3 mb-2">Registration Form</h2>
          </div>

          <div class="row">

            <div class="col-6 mb-3">
              <input (keyup)="Inputvaliduserform($event)"  autocomplete="off" [(ngModel)]="fname" type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col-6">
              <input (keyup)="Inputvaliduserform($event)" autocomplete="off" [(ngModel)]="lname" type="text" class="form-control" placeholder="Last name">
            </div>
            <div class="col-6 mb-3">
              <input (keyup)="Inputvaliduserform($event)"  autocomplete="off" [(ngModel)]="regnumber" type="text" class="form-control" placeholder="PRC">
            </div>

            <div class="col-6 mb-3">
              <input (keyup)="Inputvaliduserform($event)" autocomplete="off" [(ngModel)]="email" type="email" class="form-control" placeholder="Email">
            </div>

            <div class="col-6">
              <div class="form-group">
                <select class="form-control" id="sel1" (change)="onChange($event.target.value)" class="custom-select my-1 mr-sm-2">
                  <option>Select speciality</option>
                <option *ngFor="let spec of speciality" value={{spec?.speciality_name}} >{{spec?.speciality_name}}</option>
                </select>
                </div>
            </div>

            


            <div class="col-6 mb-3">
              <input [(ngModel)]="mnumber" type="text" class="form-control" placeholder="Mobile Number" disabled>
            </div>

       
            <div class="col-6">
              <button type="button"  style="display: none;" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button  type="button" [disabled]="savaechanges==false" (click)=addUserInformation() class="btn btn-success">Save changes</button>
            </div>
      </div>
      </div>
      </div>

    
</div>
