body {
	background: #e8e8e8!important;
	font-family: Roboto!important;
	font-size: 14px!important;
	font-weight: normal!important;
	font-stretch: normal!important;
	font-style: normal!important;
	line-height: 1.61!important;
	letter-spacing: normal!important;
	}
	body.onboarding-screen {
	font-size: 15px;
	font-family: roboto!important;
	margin: 0;
	padding: 0!important;
	background-image: url(./assets/unnamed.png)!important;
	background-position: bottom center!important;
	background-repeat: no-repeat!important;
	background-size: 80%!important;
	width: 100%!important;
	min-height: 100%!important;
	background-color: #e8e8e8!important;
	}
	.folder-heading{
	background-color: #f4f4f4!important;
	}
	body.onboarding-screen, html {
	width: 100%;
	min-height: 100%;
	}
	.img{
	max-width: 100%!important;
	}