<div class="text-center my-4">
  <img src="assets/logo_dark.png" alt="logo">
  </div>
  <div class="container bg-white pt-3 pb-5 shadow-sm rounded-lg">
  
    <div class="text my-3">
      <h2 class="text-center my-3 mb-2">Survey Form</h2>
    </div>

    <div class="row">

      <!-- <div class="col-6 mb-3">
        <input (keyup)="Inputvaliduserform($event)"  autocomplete="off" [(ngModel)]="fname" type="text" class="form-control" placeholder="First name" disabled>
      </div>
      <div class="col-6">
        <input (keyup)="Inputvaliduserform($event)" autocomplete="off" [(ngModel)]="lname" type="text" class="form-control" placeholder="Last name" disabled>
      </div> -->
      <!-- <div class="col-6 mb-3">
        <input (keyup)="Inputvaliduserform($event)"  autocomplete="off" [(ngModel)]="regnumber" type="text" class="form-control" placeholder="PRC" disabled>
      </div>

      <div class="col-6 mb-3">
        <input (keyup)="Inputvaliduserform($event)" autocomplete="off" [(ngModel)]="email" type="email" class="form-control" placeholder="Email" disabled>
      </div>

      <div class="col-6 mb-3">
        <input [(ngModel)]="mnumber" type="text" class="form-control" placeholder="Mobile Number" disabled>
      </div> -->







      <div class="m-3">

      
      <h6 class="pt-3">We highly value your feedback. Therefore, we want to kindly ask you to fill in the following short questionnaire. Your input will help us to continuously improve our programs and to better meet your expectations. All information will be kept confidential. 

      </h6>

  
  <div class="mt-4">
  <form>
  
      <fieldset class="form-group">
         
              <label >1.How do you rate the overall quality of the program / activity?</label>
              <div class="row">
            <div class="col-sm-10">
              <div class="form-check">
                <label class="form-check-label" for="1gridRadios1"  style="cursor: pointer;">
                <input  class="form-check-input" type="radio" name="question1" id="1gridRadios1" value="Excellent" (click)="selectq1(1,$event)" style="cursor: pointer;">
               
                    a. Excellent
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label" for="1gridRadios2" style="cursor: pointer;">
                <input class="form-check-input" type="radio" name="question1" id="1gridRadios2" value="Very good" (click)="selectq1(1,$event)" style="cursor: pointer;">
            
                    b. Very good
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label" for="1gridRadios3" style="cursor: pointer;">
                <input class="form-check-input" type="radio" name="question1" id="1gridRadios3" value="Good"  (click)="selectq1(1,$event)" style="cursor: pointer;">
                
                    c. Good
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label" for="1gridRadios4" style="cursor: pointer;">
                <input class="form-check-input" type="radio" name="question1" id="1gridRadios4" value="Fair"  (click)="selectq1(1,$event)" style="cursor: pointer;">
                
                    d. Fair
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label" for="1gridRadios5" style="cursor: pointer;">
                <input class="form-check-input" type="radio" name="question1" id="1gridRadios5" value="Needs Improvement"  (click)="selectq1(1,$event)" style="cursor: pointer;">
                
                    e. Needs Improvement
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label" for="1gridRadios6" style="cursor: pointer;">
                <input class="form-check-input" type="radio" name="question1" id="1gridRadios6" value="No Basis"  (click)="selectq1(1,$event)" style="cursor: pointer;">
                
                    e. No Basis
                </label>
              </div>
            </div>
          </div>
          <label class="text-danger">{{errquestionone}}</label>
        </fieldset>





        <fieldset class="form-group">
         
            <label >2. How do you rate the scientific/module content?</label>
            <div class="row">
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="question2" id="2gridRadios1" value="Excellent" (click)="selectq2(2,$event)" style="cursor: pointer;">
              <label class="form-check-label" for="2gridRadios1" style="cursor: pointer;">
                  a. Excellent
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="question2" id="2gridRadios2" value="Very good" (click)="selectq2(2,$event)" style="cursor: pointer;">
              <label class="form-check-label" for="2gridRadios2" style="cursor: pointer;">
                  b. Very good
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label" for="2gridRadios3" style="cursor: pointer;">
              <input class="form-check-input" type="radio" name="question2" id="2gridRadios3" value="Good" (click)="selectq2(2,$event)" style="cursor: pointer;" >
              
                  c. Good
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label" for="2gridRadios4" style="cursor: pointer;">
              <input class="form-check-input" type="radio" name="question2" id="2gridRadios4" value="Fair" (click)="selectq2(2,$event)" style="cursor: pointer;" >
              
                  d. Fair
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label" for="2gridRadios5" style="cursor: pointer;">
              <input class="form-check-input" type="radio" name="question2" id="2gridRadios5" value="Needs Improvement" (click)="selectq2(2,$event)" style="cursor: pointer;" >
              
                  e. Needs Improvement
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label" for="2gridRadios6" style="cursor: pointer;">
              <input class="form-check-input" type="radio" name="question2" id="2gridRadios6" value="No Basis" (click)="selectq2(2,$event)" style="cursor: pointer;" >
              
                  f. No Basis
              </label>
            </div>
          </div>
        </div>
        <label class="text-danger">{{errquestiontwo}}</label>
      </fieldset>






    <fieldset class="form-group">
         
        <label >3. How do you rate the administrative and organizational part? (i.e. invitation, follow-up, organization, hotel, food,  
          facilities, travel, etc.) 
     </label>
        <div class="row">
      <div class="col-sm-10">
        <div class="form-check">
          <label class="form-check-label" for="3gridRadios1" style="cursor: pointer;">
          <input class="form-check-input" type="radio" name="question3" id="3gridRadios1" value="Excellent" (click)="selectq3(3,$event)" style="cursor: pointer;">
         
              a. Excellent
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label" for="3gridRadios2" style="cursor: pointer;" style="cursor: pointer;">
          <input class="form-check-input" type="radio" name="question3" id="3gridRadios2" value="Very Good" (click)="selectq3(3,$event)" style="cursor: pointer;">
        
              b. Very Good
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label" for="3gridRadios3" style="cursor: pointer;">
          <input class="form-check-input" type="radio" name="question3" id="3gridRadios3" value="Good"  (click)="selectq3(3,$event)" style="cursor: pointer;">
         
              c. Good
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="question3" id="3gridRadios4" value="Fair" (click)="selectq3(3,$event)" style="cursor: pointer;">
            <label class="form-check-label" for="3gridRadios4" style="cursor: pointer;">
                d. Fair
            </label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="question3" id="3gridRadios5" value="Needs Improvement" (click)="selectq3(3,$event)" style="cursor: pointer;">
              <label class="form-check-label" for="3gridRadios5" style="cursor: pointer;">
                  e. Needs Improvement
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="question3" id="3gridRadios6" value="No Basis" (click)="selectq3(3,$event)" style="cursor: pointer;">
              <label class="form-check-label" for="3gridRadios6" style="cursor: pointer;">
                  e. No Basis
              </label>
            </div>
      </div>
    </div>
    <label class="text-danger">{{errquestionthree}}</label>
  </fieldset>






  <fieldset class="form-group">
    <h4>Content and presentations</h4>

    <p>Please tick one which best describes how you feel for each statement using the four-point scale.</p>

    <!-- <div class="mt-3 content-info" style="height: 2px; background-color: black;"></div>
    <div>
      <div class="row">
        <span class="col-3 text-center fnt-size13">1 <br> <span>Strongly Disagree</span> </span>
        <span  class="col-3 text-center fnt-size13">2 <br> <span>Disagree </span> </span>
        <span  class="col-3 text-center fnt-size13">3 <br> <span>Agree </span> </span>
        <span  class="col-3 text-center fnt-size13">4 <br> <span>Strongly Agree</span> </span>
       
      </div>
    </div> -->
  </fieldset>





  
  <fieldset class="form-group">

      <label class="text-danger font-weight-bold" >1.Speaker’s lecture</label><br>
      <label>Dr. Jubert Benedicto’s  lecture was clear and useful. </label>
      <div class="row">
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="question4" id="4gridRadios1" value="Strongly Disagree" (click)="selectq4(4,$event)" style="cursor: pointer;">
        <label class="form-check-label" for="4gridRadios1" style="cursor: pointer;">
            a. Strongly Disagree
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="question4" id="4gridRadios2" value="Disagree" (click)="selectq4(4,$event)" style="cursor: pointer;">
        <label class="form-check-label" for="4gridRadios2" style="cursor: pointer;">
            b. Disagree 
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="question4" id="4gridRadios3" value="Agree" (click)="selectq4(4,$event)" style="cursor: pointer;">
        <label class="form-check-label" for="4gridRadios3" style="cursor: pointer;">
            c. Agree 
        </label>
      </div>

      <div class="form-check">
          <input class="form-check-input" type="radio" name="question4" id="4gridRadios4" value="Strongly Agree" (click)="selectq4(4,$event) " style="cursor: pointer;">
          <label class="form-check-label" for="4gridRadios4" style="cursor: pointer;">
              d. Strongly Agree
          </label>
        </div>

    </div>
  </div>
  <label class="text-danger">{{errquestionfour}}</label>
</fieldset>





<fieldset class="form-group">

  <label>The length of the lecture was just right. </label>
  <div class="row">
<div class="col-sm-10">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="question5" id="5gridRadios1" value="Strongly Disagree" (click)="selectq5(5,$event)" style="cursor: pointer;">
    <label class="form-check-label" for="5gridRadios1" style="cursor: pointer;">
        a. Strongly Disagree
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="question5" id="5gridRadios2" value="Disagree" (click)="selectq5(5,$event)" style="cursor: pointer;">
    <label class="form-check-label" for="5gridRadios2" style="cursor: pointer;">
        b. Disagree 
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="question5" id="5gridRadios3" value="Agree" (click)="selectq5(5,$event)" style="cursor: pointer;">
    <label class="form-check-label" for="5gridRadios3" style="cursor: pointer;">
        c. Agree 
    </label>
  </div>

  <div class="form-check">
      <input class="form-check-input" type="radio" name="question5" id="5gridRadios4" value="Strongly Agree" (click)="selectq5(5,$event) " style="cursor: pointer;">
      <label class="form-check-label" for="5gridRadios4" style="cursor: pointer;">
          d. Strongly Agree
      </label>
    </div>

</div>
</div>
<label class="text-danger">{{errquestionfive}}</label>
</fieldset>





<fieldset class="form-group">

<label>My question and doubts were clarified in the Q & A. </label>
<div class="row">
<div class="col-sm-10">
<div class="form-check">
  <input class="form-check-input" type="radio" name="question6" id="6gridRadios1" value="Strongly Disagree" (click)="selectq6(6,$event)" style="cursor: pointer;">
  <label class="form-check-label" for="6gridRadios1" style="cursor: pointer;">
      a. Strongly Disagree
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="question6" id="6gridRadios2" value="Disagree" (click)="selectq6(6,$event)" style="cursor: pointer;">
  <label class="form-check-label" for="6gridRadios2" style="cursor: pointer;">
      b. Disagree 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="question6" id="6gridRadios3" value="Agree" (click)="selectq6(6,$event)" style="cursor: pointer;">
  <label class="form-check-label" for="6gridRadios3" style="cursor: pointer;">
      c. Agree 
  </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="radio" name="question6" id="6gridRadios4" value=" Strongly Agree" (click)="selectq6(6,$event) " style="cursor: pointer;">
    <label class="form-check-label" for="6gridRadios4" style="cursor: pointer;">
        d. Strongly Agree
    </label>
  </div>

</div>
</div>
<label class="text-danger">{{errquestionsix}}</label>
</fieldset>


<fieldset class="form-group">

<label class="font-weight-bold">Do you have any suggested topics and venue for future lecture?
</label>
<div class="row">
<div class="col-sm-10">
<div class="">
  <label class="font-weight-bold" for="exampleFormControlTextarea1">Your Comments: 
  </label>
<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ></textarea>
`</div>
</div>
</div>
</fieldset>

  </form>




 
      <div class="col-6">
        <button type="button"  style="display: none;" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button  type="button" [disabled]="savaechanges==false" (click)=submitForm() class="btn btn-success">Save changes</button>
      </div>
</div>


      
  </div>

  </div>
  </div>
  
  